@media (max-width: 800px) {
	body {
		width: 100%;
	}

	h1 {
		font-size: 2em;
	}
}

@media (max-width: 550px) {
	.header-decoration {
		display: none;
	}
}

@media (max-width: 500px) {
	body {
		width: 100%;
	}

	main {
		margin: 30px 0;
	}

	h1 {
		font-size: 1.8em;
	}
}