<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Calorie Tracker -- Isabeau Kisler</title>
	<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>
<body>
	<header>
<!--		<h1>- Calorie Tracker -</h1> -->
		<h1>⪻ Calorie Tracker ⪼</h1>
		<p>Search for a food, then add it to your total to track your calorie intake.</p>
		<input id="search" placeholder="Search for a food" autofocus><button id="search-button">Search</button>
		<ul class="search-results">
			<li>Example result</li>
			<li>Example result</li>
			<li>Example result</li>
			<li>Example result</li>
		</ul>
	</header>

	<main>
		<table class="food-table">
			<thead>
				<tr>
					<td class="table-left">Food</td>
					<td class="table-right">Calories</td>
				</tr>
			</thead>
			<tbody id="food-list">
				<tr>
					<td class="table-left">Example food</td>
					<td class="table-right">0000</td>
					<td class="table-right delete">X</td>
				</tr>
				<tr>
					<td class="table-left">Example food</td>
					<td class="table-right">0000</td>
					<td class="table-right delete">X</td>
				</tr>
				<tr>
					<td class="table-left">Example food</td>
					<td class="table-right">0000</td>
					<td class="table-right delete">X</td>
				</tr>
			</tbody>
			<tfoot id="table-footer">
				<tr>
					<td class="table-left">Total</td>
					<td class="calorie-total table-right">0000</td>
				</tr>
				<tr>
					<td class="table-left"></td>
					<td colspan=2 class="calorie-total table-right"><button id="reset-button">Reset</button></td>
				</tr>
			</tfoot>
		</table>
	</main>

	<script type="text/template" id="food-item-template">
		
		<td class="table-left"><%= name %></td>
		<td class="table-right"><%= calories %></td>
		<td class="table-right delete">X</td>
		
	</script>

	<script type="text/template" id="result-item-template">
		<%= name %>
	</script>

<!-- unused stuff -->
	<script type="text/template" id="table-footer">
		<tr>
			<td class="table-left">Total</td>
			<td class="calorie-total table-right">0000</td>
		</tr>
		<tr>
			<td class="table-left"></td>
			<td colspan=2 class="calorie-total table-right"><div id="reset-button">Reset</div><!--<button id="reset-button">Reset</button>--></td>
		</tr>
	</script>

<!-- Example stuff -->
	<script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
			<label><%= title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%= title %>">
	</script>

	<script type="text/template" id="stats-template">
		<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
		<ul id="filters">
			<li>
				<a class="selected" href="#/">All</a>
			</li>
			<li>
				<a href="#/active">Active</a>
			</li>
			<li>
				<a href="#/completed">Completed</a>
			</li>
		</ul>
		<% if (completed) { %>
		<button id="clear-completed">Clear completed (<%= completed %>)</button>
		<% } %>
	</script>


	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone.localstorage.js"></script>
	<script src="js/healthTrackerModel.js"></script>
	<script src="js/healthTrackerCollection.js"></script>
	<script src="js/resultsCollection.js"></script>
	<script src="js/foods.js"></script>
	<script src="js/searchView.js"></script>
	<script src="js/resultsView.js"></script>
	<script src="js/footerView.js"></script>
	<script src="js/routers/router.js"></script>
	<script src="js/appStart.js"></script>
</body>
</html>